<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class List : Create </title>
        <meta charset="utf-8"> 
    </head>
    <body>
        <form action="/class/api/delete" method="post">
            <div>
                <label for="studentID"> Enter Student's ID </label><br>
                <input type="text" id="studentID" name="student"><br>
            </div>
            <div class="button">
                <button type="submit"> Delete </button>
            </div>
        </form>
    </body>
</html>