<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class List : Create </title>
        <meta charset="utf-8"> 
    </head>
    <body>
        <form action="/class/api/edit" method="post">
            <div>
                <label for="studentID"> Enter Student ID </label><br>
                <input type="number" id="studentID" name="studentID"><br>
                <label for="studentName"> Enter Student's Name </label><br>
                <input type="text" id="student" name="student"><br>
            </div>
            <div class="button">
                <button type="submit"> Edit </button>
            </div>
        </form>
    </body>
</html>