<!DOCTYPE html>
<html lang="en">
<head>
    <title> Class List </title>
    <meta charset="utf-8"/> 
    <!-- <script src="/cdn/scripts/class/index.js"></script> -->
</head>
    <body>
        <h1> WitsBook </h1>
        <div id="greeting">
        </div>
        <ol id="classList">

        </ol>
        <label> Add a new student:  </label>
        <input type="text" id="newStudentInput" placeholder="Name">
        <button type="button" id="addStudentButton"> Add </button>
        <div id="confirmation"> </div>  
    </body>
</html>